<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Lightning on Heroku</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="jumbotron">
				<h1>Lightning Out on Heroku</h1>
				<button class="btn btn-primary btn-lg" onclick="forceLogin()">
					Login to Salesforce
				</button>
				<button id="showEA" class="btn btn-primary btn-lg" 
						onclick="showEA()" style="display: none">
					Show EA
				</button>
			</div>
			<div id="chatterFeed"/>
		</div>
		<div id="lightningLocator" class="lightningLocator"></div>
		<script>
			var config = {
				appId: "3MVG9CxwbdV68qJJjQxS8tfl3Zafuxc9asUpC1q9NbVwlduIO2GKfOBqMCouzJzHqrY5SjCkc.lzdBJ_l7Q2n",
				loApp: "TEST_APP_1234"
			};
		</script>
		<script src="./javascripts/force.oauth.js"></script>
		<script src="./javascripts/app.js"></script>
		<script src="https://pocmobile-sgws.cs97.force.com/myProof/lightning/lightning.out.js"></script>
<!--<script>
alert('hi');
    $Lightning.use("c:lightningOutAppGuest",    // name of the Lightning app
        function() {                  // Callback once framework and app loaded
            $Lightning.createComponent(
                "c:lightningOutCmp", // top-level component of your app
                { },                  // attributes to set on the component when created
                "lightningLocator",   // the DOM location to insert the component
                function(cmp) {
                    // callback when component is created and active on the page
                    alert('Lightning Out App has loaded!');
                }
            );
        },
        'https://redxbiking-developer-edition.na49.force.com/TESTLOUTV1'  // Community endpoint
    );
</script>-->		
	</body>
</html>
